body {
    background-color: #e9ecef;
}


/* Style for making the slider track thicker and darker */
.rc-slider-track {
    height: 11px; /* Thicker track */
    width: 100px;
    background-color: #000000; /* Darker track color */
}


/* Style for making the slider thumb (handle) thicker and darker */
.rc-slider-handle {
    top: 7px;
    width: 15px; /* Bigger handle width */
    height: 15px; /* Bigger handle height */
    background-color: #333; /* Darker handle color */
    border-color: #333; /* Darker border color for the handle */
}

.rc-slider-rail {
    height: 10px; /* Bigger handle height */
    background-color: #b8b6b6; /* Darker handle color */
    border-color: #b8b6b6; /* Darker border color for the handle */
}

.rc-slider-dot {
    position: absolute;
    bottom: -2px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    border: 2px solid #000000;
    background-color: #000000;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
  }


.cQJXpB .chrome-picker {
    border-radius: 0% !important;
}