body {
    background-color: #e9ecef;
}


/* Style for making the slider filled range (track) thicker and darker */
.dash-slider-range {
    height: 11px; /* Thicker range */
    background-color: #000000; /* Darker range color */
}

/* Style for making the slider thumb (handle) thicker and darker */
.dash-slider-thumb {
    width: 15px; /* Bigger handle width */
    height: 15px; /* Bigger handle height */
    background-color: #333; /* Darker handle color */
    border-color: #333; /* Darker border color for the handle */
}
/* Style for making the slider track (rail) thicker and darker */
.dash-slider-track {
    height: 10px; /* Thicker track */
    background-color: #b8b6b6; /* Darker track color */
}
.dash-slider-dot {
    position: absolute;
    bottom: -2px;
    margin-left: -2px;
    width: 4px;
    height: 4px;
    border: 2px solid #000000;
    background-color: #000000;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
}

/* Color picker — remove border-radius rounding */
.chrome-picker {
    border-radius: 0% !important;
}